body {
  background-color: aquamarine;

}

.turn {
    width: 200px;
    height: 50px;
    font-size: 1.2rem;
    align-self: center;
    justify-self: center;
    text-align: center;
    align-content: center;
}
.board {
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2px;
  padding: 2px;
  align-self: center;
  justify-self: center;

}

.cell {
    background-color: rgb(51, 255, 0);
}

.cell:hover {
    background-color: green;
}

input[type='text']:not(:focus) {
    background-color: red;
    border: none;
    color: black;
}

